Repository thedaviddias/ux-patterns-for-developers: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, organize-imports, sync-gallery-metadata

format:
  run: npx @biomejs/biome format --write {staged_files}

lint:
  run: npx @biomejs/biome lint {staged_files}

organize-imports:
  run: npx @biomejs/biome check --write {staged_files}

sync-gallery-metadata:
  run: "cd apps/gallery && \npnpm tsx scripts/sync-websites-metadata.ts && \npnpm tsx scripts/extract-favicon-colors.ts &&\ngit add data/websites.json\n"

docs: record MCP 2.0.1 production verification (#268)
  docs/mcp-validation.md
  packages/mcp/publication/README.md
Due: none

feat(mcp): evaluate token budgets and retrieve focused sections
  README.md
  docs/mcp-token-budgets.md
  packages/mcp/evals/assertions.mjs
  packages/mcp/evals/assertions.test.mjs
  packages/mcp/evals/baseline.json
  packages/mcp/evals/measure.mjs
  packages/mcp/evals/promptfooconfig.json
  packages/mcp/evals/provider.mjs
  packages/mcp/evals/report.mjs
  packages/mcp/package.json
  packages/mcp/src/__tests__/mdx-to-markdown.test.ts
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/get-pattern.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/mdx-to-markdown.ts
  pnpm-lock.yaml
  scripts/ci/validate.sh
Due: format, lint, organize-imports

MCP token budgets and focused pattern retrieval (#269)
  README.md
  docs/mcp-token-budgets.md
  packages/mcp/evals/assertions.mjs
  packages/mcp/evals/assertions.test.mjs
  packages/mcp/evals/baseline.json
  packages/mcp/evals/measure.mjs
  packages/mcp/evals/promptfooconfig.json
  packages/mcp/evals/provider.mjs
  packages/mcp/evals/report.mjs
  packages/mcp/package.json
  packages/mcp/src/__tests__/mdx-to-markdown.test.ts
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/get-pattern.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/mdx-to-markdown.ts
  pnpm-lock.yaml
  scripts/ci/validate.sh
Due: format, lint, organize-imports

feat(mcp): prepare connector walkthrough and submission evidence
  apps/web/app/mcp/demo/page.tsx
  apps/web/app/mcp/page.tsx
  apps/web/public/videos/ux-patterns-connector-demo.jpg
  apps/web/public/videos/ux-patterns-connector-demo.mp4
  apps/web/public/videos/ux-patterns-connector-demo.vtt
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  docs/mcp-token-budgets.md
  docs/privacy-policy-draft.md
  packages/mcp/evals/assertions.mjs
  packages/mcp/evals/baseline.json
  packages/mcp/evals/measure.mjs
  packages/mcp/evals/promptfooconfig.json
  packages/mcp/publication/README.md
  packages/mcp/publication/openai/plugin.json
  packages/mcp/src/__tests__/tools-integration.test.ts
  patches/velite@0.4.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, organize-imports

docs(mcp): add required submission release notes
  packages/mcp/publication/openai/plugin.json
Due: format

fix(mcp): expose annotation titles for Anthropic directory
  docs/mcp-submission-evidence.md
  docs/mcp-token-budgets.md
  packages/mcp/evals/baseline.json
  packages/mcp/package.json
  packages/mcp/publication/README.md
  packages/mcp/publication/openai/plugin.json
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/server.ts
Due: format, lint, organize-imports

fix(docs): preserve punctuation in video captions
  apps/web/public/videos/ux-patterns-connector-demo.vtt
Due: none

Prepare connector video and fix directory metadata (#270)
  apps/web/app/mcp/demo/page.tsx
  apps/web/app/mcp/page.tsx
  apps/web/public/videos/ux-patterns-connector-demo.jpg
  apps/web/public/videos/ux-patterns-connector-demo.mp4
  apps/web/public/videos/ux-patterns-connector-demo.vtt
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  docs/mcp-token-budgets.md
  docs/privacy-policy-draft.md
  packages/mcp/evals/assertions.mjs
  packages/mcp/evals/baseline.json
  packages/mcp/evals/measure.mjs
  packages/mcp/evals/promptfooconfig.json
  packages/mcp/package.json
  packages/mcp/publication/README.md
  packages/mcp/publication/openai/plugin.json
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/server.ts
  patches/velite@0.4.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, organize-imports

docs: record verified connector submission assets
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  docs/mcp-validation.md
  packages/mcp/publication/README.md
Due: none

Document verified MCP release and submission video (#271)
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  docs/mcp-validation.md
  packages/mcp/publication/README.md
Due: none

Publish approved connector terms and privacy disclosures
  apps/web/app/sitemap.ts
  apps/web/app/terms-of-service/layout.tsx
  apps/web/app/terms-of-service/page.tsx
  apps/web/constants/footer.ts
  apps/web/content/pages/privacy-policy.mdx
  apps/web/content/pages/terms-of-service.mdx
  docs/privacy-policy-draft.md
  packages/mcp/publication/openai/plugin.json
Due: format, lint, organize-imports

Format terms page schema rendering
  apps/web/app/terms-of-service/page.tsx
Due: format, lint, organize-imports

Publish approved connector terms and privacy policy (#272)
  apps/web/app/sitemap.ts
  apps/web/app/terms-of-service/layout.tsx
  apps/web/app/terms-of-service/page.tsx
  apps/web/constants/footer.ts
  apps/web/content/pages/privacy-policy.mdx
  apps/web/content/pages/terms-of-service.mdx
  docs/privacy-policy-draft.md
  packages/mcp/publication/openai/plugin.json
Due: format, lint, organize-imports

docs: record legal deployment and directory publication status
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  packages/mcp/publication/README.md
Due: none

Record legal release and Claude publication status (#273)
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  packages/mcp/publication/README.md
Due: none

docs: confirm OpenAI connector submitted for review
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  packages/mcp/publication/README.md
Due: none

Confirm OpenAI submission and directory status (#274)
  docs/mcp-publication.md
  docs/mcp-submission-evidence.md
  packages/mcp/publication/README.md
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json}
  lint: any of: *.{js,jsx,ts,tsx}
  organize-imports: any of: *.{js,jsx,ts,tsx}
  sync-gallery-metadata: any of: apps/gallery/content/entries/**/*.mdx
