Repository thedaviddias/ux-patterns-for-developers: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, organize-imports, sync-gallery-metadata

format:
  run: npx @biomejs/biome format --write {staged_files}

lint:
  run: npx @biomejs/biome lint {staged_files}

organize-imports:
  run: npx @biomejs/biome check --write {staged_files}

sync-gallery-metadata:
  run: "cd apps/gallery && \npnpm tsx scripts/sync-websites-metadata.ts && \npnpm tsx scripts/extract-favicon-colors.ts &&\ngit add data/websites.json\n"

poll mirrored commits for Gitea deployment
  .gitea/workflows/routed-ci.yml
  scripts/ci/deployment-state.sh
Due: none

respect the Vercel project root
  scripts/ci/deploy-vercel.sh
Due: none

verify completed Vercel deployments
  scripts/ci/deploy-vercel.sh
Due: none

mount shared CI caches in Gitea jobs
  .gitea/workflows/routed-ci.yml
Due: none

use runner-approved CI bind mounts
  .gitea/workflows/routed-ci.yml
Due: none

deduplicate deployments through Vercel
  .gitea/workflows/routed-ci.yml
  scripts/ci/deployment-state.sh
Due: none

use local package proxy in Gitea CI
  .gitea/workflows/routed-ci.yml
Due: none

use runner-only package proxy endpoint
  .gitea/workflows/routed-ci.yml
Due: none

fix(web): statically prerender /skills/[slug] so it stops 500ing on Vercel
  apps/web/app/skills/[slug]/route.ts
Due: format, lint, organize-imports

fix(analytics): restore package typecheck
  packages/analytics/package.json
  pnpm-lock.yaml
Due: format

fix(analytics): bypass middleware for OpenPanel proxy
  apps/web/lib/bot-detection.ts
  apps/web/proxy.ts
Due: format, lint, organize-imports

fix(web): make type checks deterministic
  apps/web/components/layout/sidebar.test.tsx
  apps/web/package.json
Due: format, lint, organize-imports

fix(test): avoid workspace runner contention
  package.json
Due: format

fix(seo): derive real content dates so Google stops showing Dec 2024
  .github/workflows/routed-ci.yml
  apps/web/.gitignore
  apps/web/app/(home)/page.tsx
  apps/web/app/[...slug]/page.tsx
  apps/web/app/sitemap.ts
  apps/web/components/json-ld.tsx
  apps/web/components/related-patterns-card.tsx
  apps/web/components/sections/blog-highlights.tsx
  apps/web/components/seo/steps-pagination.tsx
  apps/web/content/patterns/navigation/pagination.mdx
  apps/web/lib/git-dates.ts
  apps/web/lib/pattern-dates.ts
  apps/web/mdx-components.tsx
  apps/web/package.json
  apps/web/scripts/content-dates-lib.test.mjs
  apps/web/scripts/generate-content-dates.mjs
  apps/web/scripts/generate-pattern-dates.mjs
  apps/web/source.config.ts
  apps/web/utils/date.ts
  apps/web/utils/enrich-patterns-with-icons.ts
  apps/web/velite.config.ts
  packages/seo/src/sitemap.ts
  packages/seo/src/types.ts
  packages/ui/src/utils/pattern-status.ts
Due: format, lint, organize-imports

fix(ci): unshallow the Gitea checkout, which is the one that deploys
  .gitea/workflows/routed-ci.yml
Due: none

ci: fail the build when a deploy workflow checks out shallow
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
  package.json
  scripts/ci/validate-deploy-workflows.mjs
  scripts/ci/validate-deploy-workflows.test.mjs
  scripts/ci/validate.sh
Due: format

ci(gitea): sync the mirror and stop cancelling deploys mid-build
  .gitea/workflows/mirror-sync.yml
  .gitea/workflows/routed-ci.yml
Due: none

fix(ci): isolate Vercel token from builds
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
  .github/workflows/validate-ci.yml
  scripts/ci/README.md
  scripts/ci/deploy-vercel.sh
  scripts/ci/deploy-vercel.test.mjs
  scripts/ci/validate.sh
  scripts/ci/vercel-artifact.mjs
  scripts/ci/vercel-artifact.test.mjs
Due: none

fix(ci): isolate Vercel token from builds (#264)
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
  .github/workflows/validate-ci.yml
  scripts/ci/README.md
  scripts/ci/deploy-vercel.sh
  scripts/ci/deploy-vercel.test.mjs
  scripts/ci/validate.sh
  scripts/ci/vercel-artifact.mjs
  scripts/ci/vercel-artifact.test.mjs
Due: none

Upgrade workspace dependencies and modernize public MCP transport
  .nvmrc
  apps/web/app/api/mcp/route.test.ts
  apps/web/app/api/mcp/route.ts
  apps/web/components/sections/stats-bar.tsx
  apps/web/components/text-to-social/text-selection-handler.tsx
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/vercel.json
  biome.json
  docs/mcp-publication.md
  docs/mcp-validation.md
  package.json
  packages/analytics/package.json
  packages/constants/package.json
  packages/hooks/package.json
  packages/mcp/package.json
  packages/mcp/scripts/benchmark.mjs
  packages/mcp/scripts/smoke-stdio.mjs
  packages/mcp/src/__tests__/quality/evals.test.ts
  packages/mcp/src/__tests__/schema-utils.test.ts
  packages/mcp/src/__tests__/server.test.ts
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/data/loader.ts
  packages/mcp/src/index.ts
  packages/mcp/src/schema-utils.ts
  packages/mcp/src/server.ts
  packages/mcp/tsup.config.ts
  packages/newsletter/package.json
  packages/registry/package.json
  packages/registry/registry/default/blocks/button/button-social.tsx
  packages/registry/test-setup.ts
  packages/registry/tsconfig.json
  packages/seo/package.json
  packages/ui/package.json
  packages/ui/src/components/custom/fumadocs-compat.tsx
  pnpm-lock.yaml
  scripts/ci/validate.sh
  turbo.json
Due: format, lint, organize-imports

Add connector review metadata and publication draft
  docs/mcp-publication.md
  packages/mcp/publication/README.md
  packages/mcp/publication/openai/assets/icon.png
  packages/mcp/publication/openai/mcp.json
  packages/mcp/publication/openai/plugin.json
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/server.ts
Due: format, lint, organize-imports

Align publication draft with verified publisher identity
  packages/mcp/publication/openai/assets/icon.png
  packages/mcp/publication/openai/mcp.json
  packages/mcp/publication/openai/plugin.json
Due: format

Draft public connector terms for owner review
  docs/terms-of-service-draft.md
Due: none

Make advisor continuation stateless and preserve MCP verification paths
  apps/web/public/.well-known/openai-apps-challenge
  apps/web/vercel.json
  docs/mcp-publication.md
  packages/mcp/publication/README.md
  packages/mcp/src/__tests__/advisor-continuation.test.ts
  packages/mcp/src/tools/pattern-advisor.ts
Due: format, lint, organize-imports

Serve connector domain verification before MCP middleware rewriting
  apps/web/proxy.test.ts
  apps/web/proxy.ts
  docs/mcp-validation.md
Due: format, lint, organize-imports

docs: standardize public MCP subdomain across client setup
  README.md
  apps/web/app/mcp/page.tsx
  docs/mcp-publication.md
  packages/mcp/publication/README.md
Due: format, lint, organize-imports

docs: use local review date for terms draft
  docs/terms-of-service-draft.md
Due: none

test: verify canonical MCP client routing and deployed transport
  apps/web/proxy.test.ts
  docs/mcp-validation.md
Due: format, lint, organize-imports

fix(mcp): retry searches instead of caching transient errors
  docs/mcp-validation.md
  packages/mcp/src/__tests__/server.test.ts
  packages/mcp/src/server.ts
Due: format, lint, organize-imports

style: retain hook formatting for MCP recovery test
  packages/mcp/src/__tests__/server.test.ts
Due: format, lint, organize-imports

docs: record production MCP release and verified subdomain
  docs/mcp-publication.md
  docs/mcp-validation.md
  packages/mcp/publication/README.md
Due: none

docs: record verified production MCP release (#266)
  docs/mcp-publication.md
  docs/mcp-validation.md
  packages/mcp/publication/README.md
Due: none

fix(mcp): return readable guidance and truthful accessibility results
  apps/web/velite.config.ts
  docs/mcp-publication.md
  docs/mcp-validation.md
  packages/mcp/package.json
  packages/mcp/src/__tests__/data/loader.test.ts
  packages/mcp/src/__tests__/mdx-to-markdown.test.ts
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/__tests__/tools/check-accessibility.test.ts
  packages/mcp/src/data/loader.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/check-accessibility.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/mdx-to-markdown.ts
Due: format, lint, organize-imports

fix(mcp): preserve complete JSX tags around protected literals
  docs/mcp-validation.md
  packages/mcp/src/__tests__/mdx-to-markdown.test.ts
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/utils/mdx-to-markdown.ts
Due: format, lint, organize-imports

docs: describe accessibility checks without compliance claims
  apps/web/app/mcp/page.tsx
Due: format, lint, organize-imports

fix(mcp): preserve longer fences and flag keyboard gaps
  packages/mcp/src/__tests__/mdx-to-markdown.test.ts
  packages/mcp/src/__tests__/tools/check-accessibility.test.ts
  packages/mcp/src/tools/check-accessibility.ts
  packages/mcp/src/utils/mdx-to-markdown.ts
Due: format, lint, organize-imports

ci: regenerate documentation modules before type checks
  docs/mcp-validation.md
  scripts/ci/validate.sh
Due: none

fix(mcp): readable guidance and truthful accessibility results (#267)
  apps/web/app/mcp/page.tsx
  apps/web/velite.config.ts
  docs/mcp-publication.md
  docs/mcp-validation.md
  packages/mcp/package.json
  packages/mcp/src/__tests__/data/loader.test.ts
  packages/mcp/src/__tests__/mdx-to-markdown.test.ts
  packages/mcp/src/__tests__/tools-integration.test.ts
  packages/mcp/src/__tests__/tools/check-accessibility.test.ts
  packages/mcp/src/data/loader.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/check-accessibility.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/mdx-to-markdown.ts
  scripts/ci/validate.sh
Due: format, lint, organize-imports

docs: record deployed MCP patch and consumer verification
  docs/mcp-validation.md
  packages/mcp/publication/README.md
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json}
  lint: any of: *.{js,jsx,ts,tsx}
  organize-imports: any of: *.{js,jsx,ts,tsx}
  sync-gallery-metadata: any of: apps/gallery/content/entries/**/*.mdx
