Repository thedaviddias/ux-patterns-for-developers: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, organize-imports

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: npx @biomejs/biome format --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx @biomejs/biome lint {staged_files}
    organize-imports:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx @biomejs/biome check --write {staged_files}

pre-push:
  commands:
    type-check:
      run: pnpm tsc
    build-check:
      run: pnpm build
    link-check:
      run: pnpm check:links

feat: configure up kit to work with shadcn registry (#219)
  .env.example
  .gitignore
  apps/kit/README.md
  apps/kit/app/(home)/page.tsx
  apps/kit/app/examples/page.tsx
  apps/kit/app/r/[name]/route.ts
  apps/kit/app/registry/route.ts
  apps/kit/package.json
  apps/kit/source.config.ts
  apps/web/package.json
  apps/web/public/_pagefind/pagefind-entry.json
  apps/web/public/_pagefind/pagefind-highlight.js
  apps/web/public/_pagefind/pagefind-modular-ui.css
  apps/web/public/_pagefind/pagefind-modular-ui.js
  apps/web/public/_pagefind/pagefind-ui.css
  apps/web/public/_pagefind/pagefind-ui.js
  apps/web/public/_pagefind/pagefind.js
  packages/registry/components.json
  packages/registry/package.json
  packages/registry/public/r/button.json
  packages/registry/public/r/utils.json
  packages/registry/registry.json
  packages/registry/registry/default/lib/utils.ts
  packages/registry/registry/default/ui/button.tsx
  packages/registry/registry/schema.ts
  packages/registry/scripts/build-registry.ts
  pnpm-lock.yaml
  turbo.json
Due: format, lint, organize-imports

feat: add basic pages
  apps/kit/app/(home)/page.tsx
  apps/kit/app/examples/page.tsx
  apps/kit/app/global-error.tsx
  apps/kit/app/global.css
  apps/kit/app/layout.tsx
  apps/kit/app/not-found.tsx
  apps/kit/app/robots.txt
  apps/kit/app/sitemap.ts
  apps/kit/content/docs/cli.mdx
  apps/kit/content/docs/index.mdx
  apps/kit/content/docs/installation.mdx
  apps/kit/content/docs/meta.json
  apps/kit/hooks/use-registry-counts.ts
  apps/kit/lib/layout.shared.tsx
  apps/kit/mdx-components.tsx
  apps/kit/package.json
  apps/web/package.json
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/shadcn/badge.tsx
  packages/ui/src/components/shadcn/button.tsx
  packages/ui/src/components/shadcn/card.tsx
  packages/ui/src/hooks/use-in-view.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/styles/globals.css
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: format, lint, organize-imports

fix: update wcag
  README.md
  apps/kit/app/(home)/page.tsx
  apps/kit/content/docs/index.mdx
  apps/web/content/patterns/forms/button.mdx
  apps/web/content/patterns/forms/text-field.mdx
  apps/web/content/patterns/navigation/breadcrumb.mdx
  scripts/update-patterns-list.js
Due: format, lint, organize-imports

chore: fix setup action
  .github/actions/install/action.yml
  .github/workflows/update-patterns-list.yml
  lefthook.yml
Due: none

chore: fix setup action (#221)
  .github/actions/install/action.yml
  .github/workflows/update-patterns-list.yml
  lefthook.yml
Due: none

docs: fix path image
  README.md
Due: format

feat: add support cli v3
  apps/kit/content/docs/cli.mdx
  apps/kit/content/docs/installation.mdx
  apps/web/public/_pagefind/fragment/en_35f040c.pf_fragment
  apps/web/public/_pagefind/fragment/en_362b76f.pf_fragment
  apps/web/public/_pagefind/fragment/en_5a4ece2.pf_fragment
  apps/web/public/_pagefind/index/en_dd1d5c9.pf_index
  apps/web/public/_pagefind/pagefind-entry.json
  apps/web/public/_pagefind/pagefind.en_518ae9bb4e.pf_meta
Due: format

feat: add newsletter component and GitHub stars to UP Kit
  apps/kit/app/(home)/page.tsx
  apps/kit/app/api/newsletter/route.ts
  apps/kit/components/github-stars.ts
  apps/kit/components/newsletter.tsx
  apps/kit/components/simple-icon.tsx
  apps/kit/components/stars-wrapper.tsx
  apps/kit/components/stars.tsx
  apps/kit/lib/layout.shared.tsx
  apps/kit/package.json
  apps/web/app/_components/header-actions.tsx
  apps/web/app/_components/header-icons.tsx
  apps/web/app/_components/sections/home-cta.tsx
  apps/web/app/_utils/tracking.ts
  apps/web/content/index.mdx
  packages/registry/.generated/index.tsx
  pnpm-lock.yaml
Due: format, lint, organize-imports

feat: add newsletter component and GitHub stars to UP Kit (#225)
  apps/kit/app/(home)/page.tsx
  apps/kit/app/api/newsletter/route.ts
  apps/kit/components/github-stars.ts
  apps/kit/components/newsletter.tsx
  apps/kit/components/simple-icon.tsx
  apps/kit/components/stars-wrapper.tsx
  apps/kit/components/stars.tsx
  apps/kit/lib/layout.shared.tsx
  apps/kit/package.json
  apps/web/app/_components/header-actions.tsx
  apps/web/app/_components/header-icons.tsx
  apps/web/app/_components/sections/home-cta.tsx
  apps/web/app/_utils/tracking.ts
  apps/web/content/index.mdx
  packages/registry/.generated/index.tsx
  pnpm-lock.yaml
Due: format, lint, organize-imports

feat: add banner to upkit
  apps/web/app/_components/kit-banner.tsx
  apps/web/content/patterns/forms/button.mdx
  turbo.json
Due: format, lint, organize-imports

feat: add banner to upkit (#226)
  apps/web/app/_components/kit-banner.tsx
  apps/web/content/patterns/forms/button.mdx
  turbo.json
Due: format, lint, organize-imports

fix: source code button
  packages/ui/src/components/custom/registry/component-docs-modal.tsx
Due: format, lint, organize-imports

fix: simplify registry build (#228)
  packages/registry/.generated/index.tsx
  scripts/build-registry.js
Due: format, lint, organize-imports

fix: remove problematic cache implementation from registry generator
  packages/registry/lib/registry-generator.ts
Due: format, lint, organize-imports

fix: remove unused cache variables from registry generator
  packages/registry/lib/registry-generator.ts
Due: format, lint, organize-imports

restore: revert to original working registry generator with cache
  packages/registry/lib/registry-generator.ts
Due: format, lint, organize-imports

debug: add logging to registry endpoint to debug production issue
  apps/kit/app/r/[name]/route.ts
Due: format, lint, organize-imports

debug: add logging to generateRegistry to debug production issue
  packages/registry/lib/registry-generator.ts
Due: format, lint, organize-imports

debug: add logging to registry index endpoint
  apps/kit/app/r/[name]/route.ts
Due: format, lint, organize-imports

fix: use static registry.json instead of dynamic generation
  apps/kit/app/r/[name]/route.ts
Due: format, lint, organize-imports

cleanup: remove unused RegistrySchema type
  apps/kit/app/r/[name]/route.ts
Due: format, lint, organize-imports

fix: button ai
  apps/kit/components/page-actions.tsx
  apps/kit/components/ui/button.tsx
Due: format, lint, organize-imports

tests: cover our button with tests
  packages/registry/package.json
  packages/registry/registry/default/ui/button.tsx
  packages/registry/test-setup.ts
  packages/registry/tests/ui/button.test.tsx
  packages/registry/vitest.config.ts
  pnpm-lock.yaml
Due: format, lint, organize-imports

fix: ignore registry
  .gitignore
Due: none

fix: link localhost web
  apps/kit/components/pattern-banner.tsx
  apps/kit/content/docs/components/button.mdx
  apps/kit/lib/constants.ts
  apps/web/app/_constants/project.ts
  packages/registry/.generated/index.tsx
  packages/registry/registry/default/blocks/button/button-motion-effects.tsx
Due: format, lint, organize-imports
