Repository thedaviddias/ux-patterns-for-developers: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, organize-imports

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: npx @biomejs/biome format --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx @biomejs/biome lint {staged_files}
    organize-imports:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx @biomejs/biome check --write {staged_files}

pre-push:
  commands:
    type-check:
      run: pnpm tsc
    build-check:
      run: pnpm build
    link-check:
      run: pnpm check:links

feat: add text-to-social-image generation feature
  app/_actions/github-stars.ts
  app/_actions/patterns.ts
  app/_components/footer.tsx
  app/_components/sandbox.tsx
  app/_components/text-to-social/text-selection-handler.tsx
  app/_utils/get-pattern-assistant.ts
  app/_utils/get-pattern-categories.ts
  app/_utils/tracking.ts
  app/api/mdx/route.ts
  app/api/social-image/route.tsx
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  styles/globals.css
Due: format, lint, organize-imports

feat: add text-to-social-image generation feature (#204)
  app/_actions/github-stars.ts
  app/_actions/patterns.ts
  app/_components/footer.tsx
  app/_components/sandbox.tsx
  app/_components/text-to-social/text-selection-handler.tsx
  app/_utils/get-pattern-assistant.ts
  app/_utils/get-pattern-categories.ts
  app/_utils/tracking.ts
  app/api/mdx/route.ts
  app/api/social-image/route.tsx
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  styles/globals.css
Due: format, lint, organize-imports

fix: remove existsSync check for serverless compatibility
  app/_utils/get-pattern-categories.ts
Due: format, lint, organize-imports

fix: blocks not showing homepage
  app/_utils/get-pattern-categories.ts
Due: format, lint, organize-imports

fix: serverless pattern loading (#205)
  app/_utils/get-pattern-categories.ts
Due: format, lint, organize-imports

feat: improve text field
  app/_examples/patterns/forms/index.ts
  app/_examples/patterns/forms/text-field/basic.ts
  app/_examples/patterns/forms/text-field/character-counter.ts
  app/_examples/patterns/forms/text-field/helper-text.ts
  app/_examples/patterns/forms/text-field/index.ts
  app/_examples/patterns/forms/text-field/input-types.ts
  app/_examples/patterns/forms/text-field/required.ts
  app/_examples/patterns/forms/text-field/validation.ts
  app/_examples/patterns/forms/text-field/with-icons.ts
  app/_examples/patterns/index.ts
  content/patterns/forms/text-field.mdx
Due: format, lint, organize-imports

fix: small improvements
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/popover.mdx
  content/patterns/forms/autocomplete.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  public/covers/patterns/load-more.png
Due: none

feat: Improve existing patterns (#206)
  app/_components/footer.tsx
  app/_constants/footer.ts
  app/_examples/patterns/forms/index.ts
  app/_examples/patterns/forms/text-field/basic.ts
  app/_examples/patterns/forms/text-field/character-counter.ts
  app/_examples/patterns/forms/text-field/helper-text.ts
  app/_examples/patterns/forms/text-field/index.ts
  app/_examples/patterns/forms/text-field/input-types.ts
  app/_examples/patterns/forms/text-field/required.ts
  app/_examples/patterns/forms/text-field/validation.ts
  app/_examples/patterns/forms/text-field/with-icons.ts
  app/_examples/patterns/index.ts
  app/_examples/patterns/navigation/pagination/basic.ts
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/popover.mdx
  content/patterns/forms/autocomplete.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  public/covers/patterns/load-more.png
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

fix: layout for all patterns
  app/_components/social.tsx
  app/_examples/patterns/content-management/tooltip/basic.ts
  app/_examples/patterns/index.ts
  content/patterns/advanced/_meta.tsx
  content/patterns/ai-intelligence/_meta.tsx
  content/patterns/authentication/_meta.tsx
  content/patterns/content-management/_meta.tsx
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/expandable-text.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/_meta.tsx
  content/patterns/data-display/table.mdx
  content/patterns/e-commerce/_meta.tsx
  content/patterns/forms/_meta.tsx
  content/patterns/forms/button.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/media/_meta.tsx
  content/patterns/navigation/_meta.tsx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  content/patterns/social/_meta.tsx
  content/patterns/user-feedback/_meta.tsx
  styles/globals.css
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

fix: bold headings
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/expandable-text.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/popover.mdx
  content/patterns/data-display/table.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/load-more.mdx
Due: none

fix: headers
  content/patterns/data-display/table.mdx
  content/patterns/forms/currency-input.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/navigation/load-more.mdx
Due: none

fix: headings
  app/_components/social.tsx
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/table.mdx
  content/patterns/forms/button.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

feat: refactor remove heading bold (#208)
  app/_components/social.tsx
  app/_examples/patterns/content-management/tooltip/basic.ts
  app/_examples/patterns/index.ts
  content/patterns/advanced/_meta.tsx
  content/patterns/ai-intelligence/_meta.tsx
  content/patterns/authentication/_meta.tsx
  content/patterns/content-management/_meta.tsx
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/expandable-text.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/popover.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/_meta.tsx
  content/patterns/data-display/table.mdx
  content/patterns/e-commerce/_meta.tsx
  content/patterns/forms/_meta.tsx
  content/patterns/forms/button.mdx
  content/patterns/forms/currency-input.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/media/_meta.tsx
  content/patterns/navigation/_meta.tsx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  content/patterns/social/_meta.tsx
  content/patterns/user-feedback/_meta.tsx
  styles/globals.css
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

feat: add social icons in the header
  app/_components/header-actions.tsx
  app/_components/header-icons.tsx
  app/layout.tsx
Due: format, lint, organize-imports

feat: add more content to autocomplete
  app/_examples/patterns/forms/autocomplete/basic.ts
  app/_examples/patterns/forms/autocomplete/index.ts
  app/_examples/patterns/forms/index.ts
  app/_examples/patterns/index.ts
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/forms/autocomplete.mdx
  content/patterns/forms/button.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/pagination.mdx
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

feat: add back social header icons (#209)
  app/_components/header-actions.tsx
  app/_components/header-icons.tsx
  app/layout.tsx
Due: format, lint, organize-imports

feat: add new components
  app/_components/browser-support.tsx
  app/_components/build-effort.tsx
  app/_components/faq-structured-data.tsx
  app/_components/pattern-comparison.tsx
  app/_components/pattern-stats.tsx
  app/_components/related-patterns-card.tsx
  app/api/stats/route.ts
  content/patterns/forms/autocomplete.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
Due: format, lint, organize-imports

feat: add new components to some patterns (#211)
  app/_components/browser-support.tsx
  app/_components/build-effort.tsx
  app/_components/faq-structured-data.tsx
  app/_components/pattern-comparison.tsx
  app/_components/pattern-stats.tsx
  app/_components/related-patterns-card.tsx
  app/api/stats/route.ts
  content/patterns/forms/autocomplete.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
Due: format, lint, organize-imports

docs: update patterns list (#207)
  README.md
Due: format

feat: add new glossary terms
  app/_components/related-patterns-card.tsx
  content/glossary/canonical-tags.mdx
  content/glossary/cls-cumulative-layout-shift.mdx
  content/glossary/design-tokens.mdx
  content/glossary/dom.mdx
  content/glossary/keyboard-navigation.mdx
  content/glossary/lazy-loading.mdx
  content/glossary/live-regions.mdx
  content/glossary/screen-reader.mdx
  content/glossary/skeleton-screen.mdx
  content/glossary/throttle-debounce.mdx
  content/glossary/touch-targets.mdx
  content/glossary/viewport.mdx
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/table.mdx
  content/patterns/forms/autocomplete.mdx
  content/patterns/forms/button.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  scripts/update-patterns-list.js
Due: format, lint, organize-imports

feat: add new glossary terms (#212)
  app/_components/related-patterns-card.tsx
  content/glossary/canonical-tags.mdx
  content/glossary/cls-cumulative-layout-shift.mdx
  content/glossary/design-tokens.mdx
  content/glossary/dom.mdx
  content/glossary/keyboard-navigation.mdx
  content/glossary/lazy-loading.mdx
  content/glossary/live-regions.mdx
  content/glossary/screen-reader.mdx
  content/glossary/skeleton-screen.mdx
  content/glossary/throttle-debounce.mdx
  content/glossary/touch-targets.mdx
  content/glossary/viewport.mdx
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/table.mdx
  content/patterns/forms/autocomplete.mdx
  content/patterns/forms/button.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
Due: format, lint, organize-imports

feat: add missing sections to breadcrumb
  content/pattern-guide/_meta.ts
  content/pattern-guide/input-selection-guide.mdx
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/table.mdx
  content/patterns/forms/button.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/getting-started.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

feat: add link pattern
  content/patterns/forms/button.mdx
  content/patterns/navigation/link.mdx
Due: none

fix: few inconsistencies and issues
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/table.mdx
  content/patterns/getting-started.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
Due: none

feat: add missing sections to breadcrumb (#213)
  content/pattern-guide/_meta.ts
  content/pattern-guide/input-selection-guide.mdx
  content/patterns/content-management/accordion.mdx
  content/patterns/content-management/carousel.mdx
  content/patterns/content-management/modal.mdx
  content/patterns/content-management/tooltip.mdx
  content/patterns/data-display/table.mdx
  content/patterns/forms/button.mdx
  content/patterns/forms/text-field.mdx
  content/patterns/getting-started.mdx
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/breadcrumb.mdx
  content/patterns/navigation/infinite-scroll.mdx
  content/patterns/navigation/load-more.mdx
  content/patterns/navigation/pagination.mdx
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

docs: update patterns list (#214)
  README.md
Due: format

docs: update patterns list (#215)
  README.md
Due: format

chore: add kit with fumadocs
  apps/kit/.gitignore
  apps/kit/README.md
  apps/kit/app/(home)/layout.tsx
  apps/kit/app/(home)/page.tsx
  apps/kit/app/api/search/route.ts
  apps/kit/app/docs/[[...slug]]/page.tsx
  apps/kit/app/docs/layout.tsx
  apps/kit/app/global.css
  apps/kit/app/layout.tsx
  apps/kit/content/docs/index.mdx
  apps/kit/content/docs/test.mdx
  apps/kit/lib/layout.shared.tsx
  apps/kit/lib/source.ts
  apps/kit/mdx-components.tsx
  apps/kit/next.config.mjs
  apps/kit/package.json
  apps/kit/postcss.config.mjs
  apps/kit/source.config.ts
  apps/kit/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  configs/typescript/README.md
  configs/typescript/base.json
  configs/typescript/nextjs.json
  configs/typescript/package.json
  configs/typescript/react-library.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ux-patterns-developers-2.jpeg
Due: format, lint, organize-imports

chore: add kit with fumadocs (#217)
  apps/kit/.gitignore
  apps/kit/README.md
  apps/kit/app/(home)/layout.tsx
  apps/kit/app/(home)/page.tsx
  apps/kit/app/api/search/route.ts
  apps/kit/app/docs/[[...slug]]/page.tsx
  apps/kit/app/docs/layout.tsx
  apps/kit/app/global.css
  apps/kit/app/layout.tsx
  apps/kit/content/docs/index.mdx
  apps/kit/content/docs/test.mdx
  apps/kit/lib/layout.shared.tsx
  apps/kit/lib/source.ts
  apps/kit/mdx-components.tsx
  apps/kit/next.config.mjs
  apps/kit/package.json
  apps/kit/postcss.config.mjs
  apps/kit/source.config.ts
  apps/kit/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  configs/typescript/README.md
  configs/typescript/base.json
  configs/typescript/nextjs.json
  configs/typescript/package.json
  configs/typescript/react-library.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ux-patterns-developers-2.jpeg
Due: format, lint, organize-imports

chore: add syncpack and manypkg
  .syncpackrc
  apps/kit/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: format

chore: add syncpack and manypkg (#218)
  .syncpackrc
  apps/kit/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: format

chore: fix fumadocs build
  .nvmrc
  apps/kit/source.config.ts
  apps/kit/tsconfig.json
  apps/kit/types.d.ts
Due: format, lint, organize-imports

feat: configure UP Kit as component registry system
  apps/kit/app/examples/page.tsx
  apps/kit/app/r/[name]/route.ts
  apps/kit/app/registry/route.ts
Due: format, lint, organize-imports

feat: create basic registry logic
  .env.example
  .gitignore
  apps/kit/README.md
  apps/kit/app/(home)/page.tsx
  apps/kit/app/examples/page.tsx
  apps/kit/app/r/[name]/route.ts
  apps/kit/package.json
  apps/kit/source.config.ts
  apps/web/package.json
  apps/web/public/_pagefind/pagefind-entry.json
  apps/web/public/_pagefind/pagefind-highlight.js
  apps/web/public/_pagefind/pagefind-modular-ui.css
  apps/web/public/_pagefind/pagefind-modular-ui.js
  apps/web/public/_pagefind/pagefind-ui.css
  apps/web/public/_pagefind/pagefind-ui.js
  apps/web/public/_pagefind/pagefind.js
  packages/registry/components.json
  packages/registry/package.json
  packages/registry/public/r/button.json
  packages/registry/public/r/utils.json
  packages/registry/registry.json
  packages/registry/registry/default/lib/utils.ts
  packages/registry/registry/default/ui/button.tsx
  packages/registry/registry/schema.ts
  packages/registry/scripts/build-registry.ts
  pnpm-lock.yaml
  turbo.json
Due: format, lint, organize-imports
