Repository thedaviddias/ux-patterns-for-developers: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, organize-imports, sync-gallery-metadata

format:
  run: npx @biomejs/biome format --write {staged_files}

lint:
  run: npx @biomejs/biome lint {staged_files}

organize-imports:
  run: npx @biomejs/biome check --write {staged_files}

sync-gallery-metadata:
  run: "cd apps/gallery && \npnpm tsx scripts/sync-websites-metadata.ts && \npnpm tsx scripts/extract-favicon-colors.ts &&\ngit add data/websites.json\n"

chore: update AGENTS.md with learned preferences and workspace facts
  .cursor/hooks/state/continual-learning-index.json
  .cursor/hooks/state/continual-learning.json
  AGENTS.md
  apps/web/.generated/pattern-skills.json
Due: format

chore: apply linter formatting fixes
  .cursor/hooks/state/continual-learning.json
  packages/analytics/providers/openpanel.tsx
  packages/ui/src/components/custom/registry/component-preview-server.tsx
  packages/ui/src/components/custom/registry/component-preview.tsx
  scripts/build-registry.js
Due: format, lint, organize-imports

fix: add OPENPANEL_CLIENT_ID to turbo.json build env
  turbo.json
Due: format

fix: migrate stats API and bot detection from Plausible to OpenPanel
  apps/web/app/api/stats/route.ts
  apps/web/lib/bot-detection.ts
Due: format, lint, organize-imports

chore: apply linter formatting fixes
  apps/web/app/api/stats/route.ts
  turbo.json
Due: format, lint, organize-imports

ci: add Tessl skill review workflow for SKILL.md PRs
  .github/workflows/skill-review.yml
Due: none

fix issues
  apps/web/app/api/mcp/route.ts
  apps/web/app/mcp/page.tsx
  apps/web/components/mcp/setup-tabs.tsx
  apps/web/vercel.json
  packages/mcp/package.json
  packages/mcp/spec.md
  packages/mcp/src/data/loader.ts
  packages/mcp/src/data/relationships.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/check-accessibility.ts
  packages/mcp/src/tools/get-glossary-term.ts
  packages/mcp/src/tools/get-implementation-checklist.ts
  packages/mcp/src/tools/get-quick-reference.ts
  packages/mcp/src/tools/list-categories.ts
  packages/mcp/src/tools/list-patterns.ts
  packages/mcp/src/tools/pattern-advisor.ts
  packages/mcp/src/tools/review-code.ts
  packages/mcp/src/tools/search-patterns.ts
  packages/mcp/src/tools/suggest-pattern.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/cache.ts
  packages/mcp/src/utils/fuzzy-match.ts
  packages/mcp/src/utils/glossary-linker.ts
  packages/mcp/src/utils/pagination.ts
  pnpm-lock.yaml
Due: format, lint, organize-imports

tests: add more tests
  apps/web/app/api/mcp/route.ts
  apps/web/app/mcp/page.tsx
  packages/mcp/jest.config.js
  packages/mcp/package.json
  packages/mcp/spec.md
  packages/mcp/src/__tests__/data/loader.test.ts
  packages/mcp/src/__tests__/server.test.ts
  packages/mcp/src/__tests__/tools/check-accessibility.test.ts
  packages/mcp/src/__tests__/tools/get-pattern.test.ts
  packages/mcp/src/__tests__/tools/list-patterns.test.ts
  packages/mcp/src/__tests__/tools/search-patterns.test.ts
  packages/mcp/src/__tests__/tools/suggest-pattern.test.ts
  packages/mcp/src/__tests__/utils/cache.test.ts
  packages/mcp/src/__tests__/utils/fuzzy-match.test.ts
  packages/mcp/src/__tests__/utils/glossary-linker.test.ts
  packages/mcp/src/__tests__/utils/pagination.test.ts
  packages/mcp/src/__tests__/utils/rate-limit.test.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools/check-accessibility.ts
  packages/mcp/src/tools/get-pattern.ts
  packages/mcp/src/tools/get-quick-reference.ts
  packages/mcp/src/tools/list-patterns.ts
  packages/mcp/src/tools/search-patterns.ts
  packages/mcp/src/tools/suggest-pattern.ts
  packages/mcp/src/types.ts
  packages/mcp/src/utils/cache.ts
  packages/mcp/src/utils/glossary-linker.ts
  packages/mcp/src/utils/pagination.ts
  pnpm-lock.yaml
Due: format, lint, organize-imports

feat: finish MCP server domain setup
  apps/web/app/api/mcp/route.ts
  apps/web/vercel.json
  packages/mcp/package.json
  packages/mcp/src/__tests__/server.test.ts
  packages/mcp/src/index.ts
  packages/mcp/src/schema-utils.ts
  packages/mcp/src/server.ts
  packages/mcp/src/utils/index.ts
  packages/mcp/src/utils/response-cap.ts
  packages/mcp/tsconfig.json
  pnpm-lock.yaml
Due: format, lint, organize-imports

chore: fix MCP post-rebase formatting
  apps/web/app/mcp/layout.tsx
  apps/web/app/mcp/page.tsx
  apps/web/components/mcp/setup-tabs.tsx
  apps/web/components/sections/mcp-promo.tsx
  apps/web/next-env.d.ts
Due: format, lint, organize-imports

fix: route MCP subdomain before homepage
  apps/web/proxy.ts
Due: format, lint, organize-imports

docs: expand MCP client setup options
  apps/web/app/mcp/page.tsx
  apps/web/components/mcp/setup-tabs.tsx
Due: format, lint, organize-imports

docs: move MCP promo higher on homepage
  apps/web/app/(home)/page.tsx
  apps/web/components/sections/mcp-promo.tsx
Due: format, lint, organize-imports

docs: reorder MCP setup tabs
  apps/web/app/mcp/page.tsx
Due: format, lint, organize-imports

feat: expand pattern guides and MCP quality evals
  AGENTS.md
  apps/web/components/layout/docs-layout.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/layout/sidebar.tsx
  apps/web/components/pattern-guide-list.tsx
  apps/web/components/pattern-stats.tsx
  apps/web/components/use-with-ai-disclosure.tsx
  apps/web/content/pattern-guide/load-more-vs-show-more-vs-view-more.mdx
  apps/web/content/pattern-guide/meta.json
  apps/web/content/pattern-guide/modal-vs-drawer.mdx
  apps/web/content/pattern-guide/tooltip-vs-popover.mdx
  apps/web/scripts/pattern-skills-lib.mjs
  apps/web/scripts/pattern-skills-lib.test.mjs
  packages/mcp/src/__tests__/quality/evals.test.ts
  packages/mcp/src/data/loader.ts
  packages/mcp/src/tools/search-patterns.ts
  packages/mcp/src/tools/suggest-pattern.ts
Due: format, lint, organize-imports

fix: reduce static page runtime spend
  apps/web/app/[...slug]/page.tsx
  apps/web/app/pages/[pageName]/page.tsx
  apps/web/lib/bot-detection.ts
Due: format, lint, organize-imports

Clarify breadcrumb home and schema guidance
  apps/web/content/patterns/navigation/breadcrumb.mdx
Due: none

Regenerate breadcrumb pattern skill
  skills/breadcrumb/SKILL.md
  skills/breadcrumb/references/pattern.md
Due: none

fix: reduce hosted mcp runtime cost
  apps/web/app/api/mcp/route.ts
  apps/web/vercel.json
  packages/mcp/src/__tests__/utils/rate-limit.test.ts
  packages/mcp/src/utils/rate-limit.ts
Due: format, lint, organize-imports

fix: reduce mcp runtime cache churn
  apps/web/app/api/mcp/route.ts
  packages/mcp/src/data/loader.ts
  packages/ui/src/components/custom/github-stars-utils.ts
  packages/ui/src/components/custom/github-stars-wrapper.tsx
Due: format, lint, organize-imports

perf(web): slash function GB-Hrs and fix 15s render timeouts
  apps/web/app/api/stats/route.ts
  apps/web/app/blog/[slug]/page.tsx
  apps/web/lib/mdx.ts
  apps/web/proxy.ts
  apps/web/vercel.json
Due: format, lint, organize-imports

perf(web): slash function GB-Hrs and fix 15s render timeouts (#256)
  apps/web/app/api/stats/route.ts
  apps/web/app/blog/[slug]/page.tsx
  apps/web/lib/mdx.ts
  apps/web/proxy.ts
  apps/web/vercel.json
Due: format, lint, organize-imports

perf(web): let content page regens finish instead of 504-looping
  apps/web/vercel.json
Due: format

perf(web): let content page regens finish instead of 504-looping (#257)
  apps/web/vercel.json
Due: format

fix(web): narrow MCP host blocking to scanners only
  apps/web/lib/bot-detection.ts
  apps/web/proxy.ts
Due: format, lint, organize-imports

fix(web): narrow MCP host blocking to scanners only (#258)
  apps/web/lib/bot-detection.ts
  apps/web/proxy.ts
Due: format, lint, organize-imports

feat(web): remove pattern view counts
  apps/web/app/api/stats/route.ts
  apps/web/components/pattern-stats.tsx
  apps/web/vercel.json
Due: format, lint, organize-imports

feat(web): remove pattern view counts (#259)
  apps/web/app/api/stats/route.ts
  apps/web/components/pattern-stats.tsx
  apps/web/vercel.json
Due: format, lint, organize-imports

fix(analytics): use hosted OpenPanel API
  packages/analytics/constants.ts
  packages/analytics/proxy.ts
  packages/analytics/server.ts
Due: format, lint, organize-imports

route production CI between GitHub and Gitea
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
  apps/web/vercel.json
  scripts/ci/deploy-vercel.sh
  scripts/ci/validate.sh
Due: format

Route production CI between GitHub and Gitea (#260)
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
  apps/web/vercel.json
  scripts/ci/deploy-vercel.sh
  scripts/ci/validate.sh
Due: format

cancel superseded production CI runs
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
Due: none

use the shared runner pnpm store
  .gitea/workflows/routed-ci.yml
  .github/workflows/routed-ci.yml
  scripts/ci/validate.sh
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json}
  lint: any of: *.{js,jsx,ts,tsx}
  organize-imports: any of: *.{js,jsx,ts,tsx}
  sync-gallery-metadata: any of: apps/gallery/content/entries/**/*.mdx
