Repository thedaviddias/ux-patterns-for-developers: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, organize-imports

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: npx @biomejs/biome format --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx @biomejs/biome lint {staged_files}
    organize-imports:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx @biomejs/biome check --write {staged_files}

pre-push:
  commands:
    type-check:
      run: pnpm tsc
    build-check:
      run: pnpm build
    link-check:
      run: pnpm check:links

fix: remove ssr:false from dynamic import in Server Component
  app/[[...mdxPath]]/page.tsx
Due: format, lint, organize-imports

fix: prevent empty groups array from bypassing default group IDs
  app/api/newsletter/route.ts
Due: format, lint, organize-imports

fix: include honeypot field in newsletter API request
  app/_components/subscribe.tsx
Due: format, lint, organize-imports

fix: implement proper server-side rate limiting for newsletter API
  app/_components/subscribe.tsx
  app/api/newsletter/route.ts
Due: format, lint, organize-imports

feat: add footer newsletter (#189)
  app/[[...mdxPath]]/page.tsx
  app/_components/json-ld.tsx
  app/_components/subscribe.tsx
  app/api/newsletter/route.ts
  content/index.mdx
Due: format, lint, organize-imports

feat: implement comprehensive centralized Plausible tracking system
  app/_components/browser-support.tsx
  app/_components/decision-flow/download-button.tsx
  app/_components/featured.tsx
  app/_components/footer.tsx
  app/_components/sandbox.tsx
  app/_components/sections/home-cta.tsx
  app/_components/suggest-pattern.tsx
  app/_utils/tracking.ts
Due: format, lint, organize-imports

fix: apply formatting and linting fixes
  app/_components/browser-support.tsx
  app/_components/decision-flow/download-button.tsx
  app/_components/featured.tsx
  app/_components/footer.tsx
  app/_components/sandbox.tsx
  app/_components/sections/home-cta.tsx
  app/_components/subscribe.tsx
  app/_components/suggest-pattern.tsx
  app/_utils/tracking.ts
Due: format, lint, organize-imports

fix: issues
  app/_components/decision-flow/download-button.tsx
  app/_components/footer.tsx
  app/_components/sandbox.tsx
  app/_components/stars.tsx
  app/_components/subscribe.tsx
  app/_utils/tracking.ts
Due: format, lint, organize-imports

refactor: improve tracking system and component architecture
  .gitignore
  app/_actions/github-stars.ts
  app/_components/footer-copyright.tsx
  app/_components/footer-link.tsx
  app/_components/footer.tsx
  app/_components/stars-wrapper.tsx
  app/_components/stars.tsx
  app/_utils/tracking.ts
  app/layout.tsx
Due: format, lint, organize-imports

fix: add missing plausible tracking (#190)
  .gitignore
  app/_actions/github-stars.ts
  app/_components/browser-support.tsx
  app/_components/decision-flow/download-button.tsx
  app/_components/featured.tsx
  app/_components/footer-copyright.tsx
  app/_components/footer-link.tsx
  app/_components/footer.tsx
  app/_components/sandbox.tsx
  app/_components/sections/home-cta.tsx
  app/_components/stars-wrapper.tsx
  app/_components/stars.tsx
  app/_components/subscribe.tsx
  app/_components/suggest-pattern.tsx
  app/_utils/tracking.ts
  app/layout.tsx
Due: format, lint, organize-imports

feat: enhance Load More and Back to Top patterns with performance insights and interactive examples
  .gitignore
  app/_components/playground.tsx
  app/_examples/patterns/index.ts
  app/_examples/patterns/navigation/back-to-top/basic.ts
  app/_examples/patterns/navigation/load-more/basic.ts
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/load-more.mdx
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

feat: enhance Load More and Back to Top patterns (#191)
  .gitignore
  app/_components/playground.tsx
  app/_examples/patterns/index.ts
  app/_examples/patterns/navigation/back-to-top/basic.ts
  app/_examples/patterns/navigation/load-more/basic.ts
  content/patterns/navigation/back-to-top.mdx
  content/patterns/navigation/load-more.mdx
  templates/patterns/component.mdx.hbs
Due: format, lint, organize-imports

docs: update patterns list (#192)
  README.md
Due: format

fix: missing styles for code examples
  app/_examples/patterns/content-management/carousel/tabbed.ts
  app/_examples/patterns/content-management/modal/basic.ts
  app/_examples/patterns/navigation/back-to-top/basic.ts
  app/_examples/patterns/navigation/load-more/basic.ts
Due: format, lint, organize-imports

fix: missing styles for code examples (#193)
  app/_examples/patterns/content-management/carousel/tabbed.ts
  app/_examples/patterns/content-management/modal/basic.ts
  app/_examples/patterns/navigation/back-to-top/basic.ts
  app/_examples/patterns/navigation/load-more/basic.ts
Due: format, lint, organize-imports

feat: adjust homepage grid layout from 5 to 4 cards per row
  app/_components/sections/overview-grid.tsx
Due: format, lint, organize-imports

feat: convert Featured Pattern component to server-side rendering
  app/_components/featured.tsx
  app/_utils/featured-pattern-session.ts
Due: format, lint, organize-imports

fix: resolve cookie setting and nested anchor hydration errors
  app/_components/stars-wrapper.tsx
  app/_components/stars.tsx
  app/_utils/featured-pattern-session.ts
Due: format, lint, organize-imports

feat: adjust homepage grid layout from 5 to 4 cards per row (#194)
  app/_components/sections/overview-grid.tsx
Due: format, lint, organize-imports

feat: move our featured block to be server component (#195)
  app/_components/featured.tsx
  app/_components/stars-wrapper.tsx
  app/_components/stars.tsx
  app/_utils/featured-pattern-session.ts
Due: format, lint, organize-imports

feat: add comprehensive placeholder pages for missing pattern categories
  app/_constants/patterns.ts
  content/patterns/advanced/command-palette.mdx
  content/patterns/advanced/search-results.mdx
  content/patterns/advanced/wizard.mdx
  content/patterns/authentication/account-settings.mdx
  content/patterns/authentication/login.mdx
  content/patterns/authentication/password-reset.mdx
  content/patterns/authentication/signup.mdx
  content/patterns/authentication/social-login.mdx
  content/patterns/authentication/two-factor.mdx
  content/patterns/authentication/user-profile.mdx
  content/patterns/data-display/calendar.mdx
  content/patterns/data-display/card-grid.mdx
  content/patterns/data-display/chart.mdx
  content/patterns/data-display/comparison-table.mdx
  content/patterns/data-display/dashboard.mdx
  content/patterns/data-display/filter-panel.mdx
  content/patterns/data-display/kanban-board.mdx
  content/patterns/data-display/list-view.mdx
  content/patterns/data-display/statistics.mdx
  content/patterns/data-display/table.mdx
  content/patterns/data-display/timeline.mdx
  content/patterns/data-display/tree-view.mdx
  content/patterns/e-commerce/checkout.mdx
  content/patterns/e-commerce/product-card.mdx
  content/patterns/e-commerce/shopping-cart.mdx
  content/patterns/media/image-gallery.mdx
  content/patterns/media/image-upload.mdx
  content/patterns/media/video-player.mdx
  content/patterns/social/activity-feed.mdx
  content/patterns/social/comment-system.mdx
  content/patterns/social/like-button.mdx
  content/patterns/social/share-dialog.mdx
Due: format, lint, organize-imports

feat: add AI & Intelligence patterns and reorder categories for logical progression
  app/_constants/patterns.ts
  content/patterns/ai-intelligence/ai-chat.mdx
  content/patterns/ai-intelligence/ai-error-states.mdx
  content/patterns/ai-intelligence/ai-loading-states.mdx
  content/patterns/ai-intelligence/ai-suggestions.mdx
  content/patterns/ai-intelligence/context-window.mdx
  content/patterns/ai-intelligence/model-selector.mdx
  content/patterns/ai-intelligence/prompt-input.mdx
  content/patterns/ai-intelligence/response-feedback.mdx
  content/patterns/ai-intelligence/streaming-response.mdx
  content/patterns/ai-intelligence/token-counter.mdx
Due: format, lint, organize-imports

feat: update sidebar to show all categories collapsed
  content/patterns/_meta.tsx
Due: format, lint, organize-imports

feat: add pattern sections guide
  templates/patterns/PATTERN_SECTIONS_GUIDE.md
  templates/patterns/component.mdx.hbs
Due: format

docs: update patterns list (#197)
  README.md
Due: format

fix: resolve homepage missing blocks after SSR conversion
  app/_components/featured-wrapper.tsx
  app/_components/overview-grid-wrapper.tsx
  content/index.mdx
Due: format, lint, organize-imports

fix: add newlines to wrapper component files
  app/_components/featured-wrapper.tsx
  app/_components/overview-grid-wrapper.tsx
Due: format, lint, organize-imports

fix: remove 'use client' directive from wrapper components
  app/_components/featured-wrapper.tsx
  app/_components/overview-grid-wrapper.tsx
Due: format, lint, organize-imports

fix: remove featured pattern to resolve loading and CLS issues
  content/index.mdx
Due: none

chore: remove unused wrapper and client components
  app/_components/featured-wrapper.tsx
  app/_components/overview-grid-wrapper.tsx
Due: format, lint, organize-imports

fix: homepage missing blocks (#198)
  content/index.mdx
Due: none

fix: autocomplete path image
  public/covers/patterns/autocomplete.png
Due: none

feat: add data table
  app/_examples/patterns/data-display/table/basic.ts
  app/_examples/patterns/data-display/table/filterable.ts
  app/_examples/patterns/data-display/table/paginated.ts
  app/_examples/patterns/data-display/table/sortable.ts
  app/_examples/patterns/index.ts
  content/patterns/data-display/table.mdx
  public/covers/patterns/table.png
Due: format, lint, organize-imports

feat: data table pattern (#199)
  app/_examples/patterns/data-display/table/basic.ts
  app/_examples/patterns/data-display/table/filterable.ts
  app/_examples/patterns/data-display/table/paginated.ts
  app/_examples/patterns/data-display/table/sortable.ts
  app/_examples/patterns/index.ts
  content/patterns/data-display/table.mdx
  public/covers/patterns/autocomplete.png
  public/covers/patterns/table.png
Due: format, lint, organize-imports

feat: improve carousel
  app/_components/pattern-preview.tsx
  app/_examples/patterns/content-management/carousel/grouped.ts
  content/patterns/content-management/carousel.mdx
  public/covers/patterns/autocomplete.png
  public/covers/patterns/breadcrumb.png
  public/covers/patterns/modal.png
  public/covers/patterns/pagination.png
  public/covers/patterns/text-field.png
  styles/globals.css
Due: format, lint, organize-imports

feat: improve carousel (#201)
  app/_components/pattern-preview.tsx
  app/_examples/patterns/content-management/carousel/grouped.ts
  content/patterns/content-management/carousel.mdx
  public/covers/patterns/autocomplete.png
  public/covers/patterns/breadcrumb.png
  public/covers/patterns/modal.png
  public/covers/patterns/pagination.png
  public/covers/patterns/text-field.png
  styles/globals.css
Due: format, lint, organize-imports

docs: update patterns list (#200)
  README.md
Due: format

docs: update template pattern
  .gitignore
  templates/patterns/component.mdx.hbs
Due: none

docs: update template pattern (#203)
  .gitignore
  templates/patterns/component.mdx.hbs
Due: none
